[submodule "dnf-bridge"]
	path = dnf-bridge
	url = https://github.com/xcp-ng/dnf-bridge
[submodule "meta-almalinux"]
	path = meta-almalinux
	url = https://github.com/xcp-ng/meta-almalinux.git
[submodule "meta-xcpng/recipes-xcpng/libempserver"]
	path = meta-xcpng/recipes-xcpng/libempserver
	url = https://github.com/xcp-ng-rpms/libempserver.git
[submodule "meta-xcpng/recipes-xcpng/xcp-ng-release"]
	path = meta-xcpng/recipes-xcpng/xcp-ng-release
	url = https://github.com/xcp-ng-rpms/xcp-ng-release
[submodule "meta-xcpng/recipes-xcpng/branding-xcp-ng"]
	path = meta-xcpng/recipes-xcpng/branding-xcp-ng
	url = https://github.com/xcp-ng-rpms/branding-xcp-ng
[submodule "meta-xcpng/recipes-xcpng/ocaml"]
	path = meta-xcpng/recipes-xcpng/ocaml
	url = https://github.com/xcp-ng-rpms/ocaml
[submodule "meta-xcpng/recipes-xcpng/ocaml-findlib"]
	path = meta-xcpng/recipes-xcpng/ocaml-findlib
	url = https://github.com/xcp-ng-rpms/ocaml-findlib
[submodule "meta-xcpng/recipes-xcpng/xen"]
	path = meta-xcpng/recipes-xcpng/xen
	url = https://github.com/xcp-ng-rpms/xen.git
[submodule "meta-xcpng/recipes-epel-queue/dev86"]
	path = meta-xcpng/recipes-epel-queue/dev86
	url = https://github.com/xcp-ng-rpms/dev86.git
