[submodule "dnf-bridge"]
	path = dnf-bridge
	url = https://github.com/xcp-ng/dnf-bridge
[submodule "meta-almalinux"]
	path = meta-almalinux
	url = https://github.com/xcp-ng/meta-almalinux.git
[submodule "meta-xcpng/recipes-xcpng/libempserver"]
	path = meta-xcpng/recipes-xcpng/libempserver
	url = https://github.com/xcp-ng-rpms/libempserver.git
[submodule "meta-xcpng/recipes-xcpng/xcp-ng-release"]
	path = meta-xcpng/recipes-xcpng/xcp-ng-release
	url = https://github.com/xcp-ng-rpms/xcp-ng-release
